<form (ngSubmit)="doSubmit()" #form="ngForm">
  <div class="layout is-flex has-islands">
    <div class="island">
      <h1 style="text-align: center">
        Music Festival Matcher
      </h1>
      <label class="label">Festival Name</label>
      <input [(ngModel)]="festival.name" name="name" type="text" class="inputfield" placeholder="Bonnaroo"
        [disabled]="mode === 'update'">
      <label class="label" [hidden]="artistNames.length < 1">Continent</label>
      <input [(ngModel)]="festival.location.continent" name="continent" type="text" class="inputfield"
        placeholder="North America" [disabled]="mode === 'update'">
      <label class="label" [hidden]="artistNames.length < 1">Country</label>
      <input [(ngModel)]="festival.location.country" name="country" type="text" class="inputfield"
        placeholder="United States" [hidden]="artistNames.length < 1" [disabled]="mode === 'update'">
      <label class="label"
        [hidden]="artistNames.length < 1 || festival.location.country !== 'United States'">Region</label>
      <input [(ngModel)]="festival.location.usRegion" name="usRegion" type="text" class="inputfield" placeholder="South"
        [hidden]="artistNames.length < 1 || festival.location.country !== 'United States'"
        [disabled]="mode === 'update'">
      <label class="label">State or Province</label>
      <input [(ngModel)]="festival.location.state" name="state" type="text" class="inputfield" placeholder="Tennessee"
        [disabled]="mode === 'update'">
      <label class="label" [hidden]="artistNames.length < 1">Ticket Price (USD)</label>
      <input [(ngModel)]="festival.priceInDollars" name="priceInDollars" type="text" class="inputfield"
        placeholder="350" [hidden]="artistNames.length < 1">
      <label class="label" [hidden]="artistNames.length < 1">Type (City, Camping, or Other)</label>
      <input [(ngModel)]="festival.type" name="type" type="text" class="inputfield" placeholder="Camping"
        [hidden]="artistNames.length < 1" [disabled]="mode === 'update'">
      <label class="label">Interactive Lineup URL</label>
      <input [(ngModel)]="festival.url" name="url" type="text" class="inputfield"
        placeholder="https://www.bonnaroo.com/lineup/interactive/" [disabled]="artistNames && artistNames.length > 0">
      <label class="label" [hidden]="(artistNames && artistNames.length > 0) || mode === 'update'">Artist 1</label>
      <input [(ngModel)]="artist1" name="artist1" type="text" class="inputfield" placeholder="Bob Moses"
        [hidden]="(artistNames && artistNames.length > 0) || mode === 'update'">
      <label class="label" [hidden]="(artistNames && artistNames.length > 0) || mode === 'update'">Artist 2</label>
      <input [(ngModel)]="artist2" name="artist2" type="text" class="inputfield" placeholder="Tycho"
        [hidden]="(artistNames && artistNames.length > 0) || mode === 'update'">
      <a routerLink="/" type="button" class="btn btn--secondary btn--cancel">Cancel</a>
      <button *ngIf="!artistNames || artistNames.length < 1" type="button" class="btn btn--primary"
        (click)="getArtistNamesFromWebPage()"
        [disabled]="!artist1 || !artist2 || artist1.length < 0 || artist2.length < 0 || artist1.toLowerCase() === artist2.toLowerCase()">Get
        artists</button>
      <button *ngIf="artistNames && artistNames.length > 0 && festival.name && festival.name.length > 0" type="button"
        class="btn btn--primary" (click)="addFestival()">{{ (mode === 'add') ? 'Add' : 'Update' }}
        festival</button>
    </div>
    <div class="island artists">
      <input *ngFor="let artist of artistNames; let i = index; trackBy:trackByIndex;" [(ngModel)]="artistNames[i]"
        [ngModelOptions]="{standalone: true}" type="text" class="inputfield">
    </div>
  </div>
</form>