<label class="label">Filter by artist or festival</label>
<input [(ngModel)]="text" name="text" type="text" class="inputfield">
<table class="table">
  <thead>
    <tr>
      <th class="artist-column">Artist</th>
      <th class="festivals-column">Festivals</th>
      <th class="must-see-column"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let artist of festivalService.artists | tableFilter:festivalService.festivals:text:festivalService.mustSeeArtists:festivalService.options">
      <td class="artist-column">{{ artist.name }}</td>
      <td class="festivals-column">
        <span *ngFor="let festival of artist | mapFestivals:festivalService.festivals; let l = last">
          <a [routerLink]="getFestivalLink(festival)">{{ festival.name }}<span *ngIf="!l">,</span></a><span
            *ngIf="!l">&nbsp;</span>
        </span>
      </td>
      <td class="must-see-column">
        <button type="button" class="btn btn--primary" (click)="addToMustSee(artist)">Must-see</button>
      </td>
    </tr>
  </tbody>
</table>
<h2
  *ngIf="festivalService.artists.length > 0
    && (festivalService.artists | tableFilter:festivalService.festivals:text:festivalService.mustSeeArtists:festivalService.options).length < 1"
  style="text-align: center">No matches</h2>
<h2 *ngIf="festivalService.artists.length === 0" style="text-align: center">None</h2>