<label class="label">Filter by artist or festival</label>
<input [(ngModel)]="text" name="text" type="text" class="inputfield">
<table class="table">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Festivals</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let artist of festivalService.artists | artistFilter:text:festivalService.mustSeeArtists">
      <td>{{ artist.name }}</td>
      <td>
        <span *ngFor="let festival of artist.festivals; let l = last">
          <a [routerLink]="getFestivalLink(festival)">{{ festival.name }}<span *ngIf="!l">,</span></a>
        </span>
      </td>
      <td>
        <button type="button" class="btn btn--primary" (click)="addToMustSee(artist)">Must-see</button>
      </td>
    </tr>
  </tbody>
</table>
<h2 *ngIf="(festivalService.artists | artistFilter:filterOptions).length < 1" style="text-align: center">None</h2>